body
{
  background: rgb(0, 42, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
label
{
  color: white;
  font-size: 20px;
}
td
{
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  height: 50px;
  width: 120px;
  color: white;
}
th
{
  padding-right: 10px;
  padding-left: 1px;
  font-size: 20;
  text-align: center;
  height: 50px;
  width: 120px;
  color: white;
}
table
{
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
}
hr
{
    color: rgb(92, 92, 92);
}
select
{
  width: 250px;
  height: 30px;
}
.td
{
  padding-right: 10px;
  padding-left: 60%;
  padding-top: 30px;
  height: 50px;
  width: 200px;
}
.title
{
    font-size: 45px;
}
.textinput
{
  width: 250px;
  height: 30px;
}
.fileinput
{
  width: 250px;
  height: 30px;
  color: white;
}
.br
{
  height: 20px;
}
.file
{
  color: white;
}
.areainput
{
  width: 250px;
  height: 100px;
  resize: none;
}
.submitinput
{
  font-size: 16px;
  color: white;
  border-radius: 15px;
  background-color: rgb(0, 76, 138);
  width: 180px;
  height: 40px;
  border: 0px solid rgba(255, 255, 255, 0);
}
.del
{
  font-size: 16px;
  color: white;
  border-radius: 15px;
  background-color: rgb(167, 3, 3);
  width: 180px;
  height: 40px;
  border: 0px solid rgba(255, 255, 255, 0);
}
.delProduct
{
  font-size: 14px;
  color: white;
  border-radius: 15px;
  background-color: rgb(167, 3, 3);
  width: 100px;
  height: 40px;
  border: 0px solid rgba(255, 255, 255, 0);
}
.addcart
{
  font-size: 16px;
  color: white;
  border-radius: 15px;
  background-color: rgb(0, 76, 138);
  width: 100px;
  height: 40px;
  border: 0px solid rgba(255, 255, 255, 0);
}
.logincontainer
{
  position: relative;
  text-align: center;
  width: 35%;
  height: 45%;
  background: rgb(34, 34, 34);
  box-shadow: 0 1px 90px rgba(255, 255, 255, 0.521);
}
.usercontainer
{
  position: relative;
  text-align: center;
  width: 35%;
  height: 90%;
  background: rgb(34, 34, 34);
  box-shadow: 0 1px 90px rgba(255, 255, 255, 0.521);
}
.productcontainer
{
  position: relative;
  text-align: center;
  width: 60%;
  height: 65%;
  background: rgb(34, 34, 34);
  box-shadow: 0 1px 90px rgba(255, 255, 255, 0.521);
}
.myproductcontainer
{
  position: relative;
  text-align: center;
  width: 92%;
  height: 85%;
  background: rgb(34, 34, 34);
  box-shadow: 0 1px 90px rgba(255, 255, 255, 0.521);
}
.homecontainer
{
  position: relative;
  text-align: center;
  width: 80%;
  height: 80%;
  background: rgb(34, 34, 34);
  box-shadow: 0 1px 90px rgba(255, 255, 255, 0.521);
}